<div class="container-fluid">
    <div class="row">

        <div class="col-12 align-self-center">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Composant enfant
                </div>
                <div class="card-body">
                    <p class="alert alert-success"
                        (mouseenter)="onEnter()"
                        (mouseleave)="onLeave()"
                    >
                        Mon super compo Enfant
                    </p>
                </div>
            </div>
        </div>
       
    </div>
</div>
