<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 6 : les customs pipes</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Custom pipe sur une puissance
                </div>
                <div class="card-body">
                    <p>Avant : {{ var1 }}</p>
                    <p>Après : {{ var1 | power }}</p>
                    <hr>
                    <p>Avant : {{ var1 }}</p>
                    <p>Après : {{ var1 | power : 2 : 2 }}</p>
                    <hr>
                    <p>Avant : {{ var1 }}</p>
                    <p>Après : {{ var1 | power : varPow}}</p>
                    <hr>
                    <p>Avant : {{ var1 }}</p>
                    <p>Après : {{ var1 | power : [1,2,3]}}</p>
                </div>
            </div>
        </div>

        <div class="col align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Custom pipe sur une puissance en TWB
                </div>
                <div class="card-body">
                    Nombre Base : <input type="number" [(ngModel)]="varZak">
                    Exposant : <input type="number" [(ngModel)]="powZak">
                    <p>Avant : {{ varZak }}</p>
                    <p>Après : {{ varZak | power : powZak}}</p>
                </div>
            </div>
        </div>
        

    </div>
</div>
